.root {
  margin-bottom: 1rem;

  &:not(:only-child) {
    height: 50%;
  }
}

.header {
  background-color: #444444;
  padding: .5rem;
  color: #ebebeb;

  &-title {
    margin: 0;
    font-weight: normal;
    display: flex;
    align-items: center;

    & > svg {
      fill: #ebebeb !important;
      width: 1.5rem !important; height: 1.5rem !important;
    }
  }

  &-button {
    float: right;
    padding: 0 !important;
    width: 1rem !important; height: 1rem !important;

    &-icon {
      fill: #ebebeb !important;
      width: 1rem !important; height: 1rem !important;
    }
  }
}
