.root {
  background-color: #606060 !important;
}

.header {
  background-color: #f7f6f6;
  height: 56px;
  box-sizing: border-box;
  padding: .5rem 0;
  margin-bottom: 1rem;

  &-logo {
    margin-left: 72px;
    display: block;
    max-height: calc(56px - 1rem);
  }
}

.item {
  color: #fefefe !important;
  font-size: .8rem !important;
  min-height: 1rem !important;
  line-height: normal !important;
  padding: .5rem 0 !important;


  &-icon {
    width: 1.5rem !important; height: 1.5rem !important;
    margin: 0 12px !important;
    fill: #fefefe !important;
    color: inherit !important;
  }

  & > div > div {
    padding-top: .5rem !important;
  }
}

.divider {
  background-color: rgba(224, 224, 224, .2) !important;
  margin: 1rem !important;
}
