.grid {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  align-items: stretch;

  &-col {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: .5rem;

    &:first-child {
      width: 25%;
    }

    &:last-child {
      width: 40%;
    }
  }
}
