.root {
  display: flex;
  justify-content: space-between;
}

.paper {
  padding: .5rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    width: 100%;
    margin-left: 1rem;
  }

  &-header {
    font-weight: normal !important;
    margin: 0 !important;

    &-icon {
      width: 2rem !important; height: 2rem !important;
      fill: #0355d2 !important;
    }
  }
}
