.root {
  display: flex;
  border: .1rem solid #ebebeb;
  background-color: #5fa14a;
  min-width: 450px;
}

.button {
  min-width: 180px !important;

  &-icon {
    width: 1.2rem !important; height: 1.2rem !important;
  }
}

.text-field {
  line-height: 10px !important;
  height: 36px !important;
  font-size: .8rem !important;
  color: #7ec06a;
  padding: 0 .5rem;
  border-right: .1rem solid #ebebeb;
}
