.grid {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem;

  &-col {
    display: inline-block;
    width: 50%;
    margin-bottom: .5rem;

    &:last-child {
      width: 100%;
      height: 15rem;
    }
  }
}
