.list {
  &-item {
    font-size: .8rem !important;

    &-icon {
      height: .8rem !important; width: .8rem !important;
      fill: #c0c0c0 !important;
      margin: .5rem 12px !important;
    }
  }
}
