.root {
  background-color: #444444 !important;
  color: #f7f6f6 !important;
  font-size: .7rem !important;
}

.first-child {
  width: 50%;
  justify-content: flex-start !important;
  z-index: 1;
}

.last-child {
  width: 50%;
  justify-content: flex-end !important;
  align-items: flex-end !important;

  &-block {
    display: flex;
    align-items: flex-end;
    padding-bottom: .5rem;
    margin-right: 1rem;
  }
}

.span {
  margin-right: .5rem;
}

.badge {
  border: .1rem solid white !important;
  margin-right: .3rem;
}
